nav.svelte-do3x39{border-bottom:1px solid rgba(255, 255, 255, 0.1);font-weight:300;padding:0 1em}ul.svelte-do3x39{margin:0;padding:0}ul.svelte-do3x39::after{content:'';display:block;clear:both}li.svelte-do3x39{display:block;float:left}[aria-current].svelte-do3x39{position:relative;display:inline-block}[aria-current].svelte-do3x39::after{position:absolute;content:'';width:calc(100% - 1em);height:2px;background-color:rgb(172, 169, 169);display:block;bottom:-1px}a.svelte-do3x39{text-decoration:none;padding:1em 0.5em;display:block}
svg.svelte-c8tyih{stroke:currentColor;fill:currentColor;stroke-width:0;width:100%;height:auto;max-height:100%}
body {
	margin: 0;
	font-family: Helvetica Neue, Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #21262d;
	color: #f0f0f0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	tab-size: 2;
}

pre {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	border-radius: 2px;
	white-space: pre;
	tab-size: 2;
	padding: 1rem;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
}
header.svelte-1y8tn1f.svelte-1y8tn1f{display:flex;align-items:flex-end;padding:0.5rem 2rem;color:white;background-color:#333333;height:58px}header.svelte-1y8tn1f h1.svelte-1y8tn1f{margin:0 0 0 0}header.svelte-1y8tn1f a.svelte-1y8tn1f{text-decoration:none}header.svelte-1y8tn1f p.svelte-1y8tn1f{margin:0 0 0.25rem 1rem;color:"#666666"}.header-holder.svelte-1y8tn1f.svelte-1y8tn1f{display:none}main.svelte-1y8tn1f.svelte-1y8tn1f{position:relative;max-width:56em;padding:2em;margin:0 auto;box-sizing:border-box}.icon.svelte-1y8tn1f.svelte-1y8tn1f{color:white;width:28px;height:28px;margin:0.15rem 0.5rem;transition:color 0.3s ease}.npm.svelte-1y8tn1f.svelte-1y8tn1f{color:#cb3837}.npm.svelte-1y8tn1f.svelte-1y8tn1f:hover{color:#c96d6d}.github.svelte-1y8tn1f.svelte-1y8tn1f{color:rgb(240, 246, 252)}.github.svelte-1y8tn1f.svelte-1y8tn1f:hover{color:white}@media(max-width: 400px){.description.svelte-1y8tn1f.svelte-1y8tn1f{display:none}.spacing.svelte-1y8tn1f.svelte-1y8tn1f{flex:1}header.svelte-1y8tn1f.svelte-1y8tn1f{padding:0.5rem 1.5rem;position:fixed;top:0;left:0;right:0;z-index:1}.header-holder.svelte-1y8tn1f.svelte-1y8tn1f{display:block;height:58px}}.spacing.svelte-1y8tn1f.svelte-1y8tn1f{width:1rem}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
