body {
	margin: 0;
	font-family: Helvetica Neue, Roboto, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	background-color: #21262d;
	color: #f0f0f0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	tab-size: 2;
	-moz-tab-size: 2;
}

pre {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	border-radius: 2px;
	white-space: pre;
	tab-size: 2;
	padding: 1rem;
	-moz-tab-size: 2;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
}